public/index.html
public/en/index.html
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
playwright-report/
test-results/
.DS_Store
.idea/
.planning/
.pi/
